{% extends 'base.html' %}

{% block content %}
  <h1>EDIT</h1>
  
  <hr>    
  <form action="{% url 'movies:update' movie.pk %}" method="POST">
    {% csrf_token %}
    <!-- TITLE -->
    <div class="row">
      <label for="title" class="col-sm-2 col-form-label fs-3 text-end">TITLE </label>
      <div class="col-sm-10 py-2">
        <input type="text" class="form-control" name="title" value="{{ movie.title }}"><br>
      </div>
    </div>

    <!-- AUDIENCE -->
    <div class="row">
      <label for="audience" class="col-sm-2 col-form-label fs-3 text-end">AUDIENCE </label>
      <div class="col-sm-10 py-2">
        <input type="text" class="form-control" name="audience" value="{{ movie.audience }}"><br>
      </div>
    </div>

    <!-- RELEASE_DATE -->
    <div class="row">
      <label for="release_date" class="col-sm-2 col-form-label fs-3 text-end">RELEASE_DATE </label>
      <div class="col-sm-10 py-2">
        <input type="date" class="form-control" name="release_date" value={{ movie.release_date|date:'Y-m-d' }}><br>
      </div>
    </div>

    <!-- GENRE -->
    <div class="row">
      <label for="genre" class="col-sm-2 col-form-label fs-3 text-end">GENRE </label>
      <div class="col-sm-10 py-2">
        <select name="genre" class="form-select">
          <option value="comedy">comedy</option>
          <option value="action">action</option>
          <option value="adventure">adventure</option>
          <option value="SF">SF</option>
          <option value="crime">crime</option>
          <option value="drama">drama</option>
          <option value="fantasy">fantasy</option>
          <option value="musicals">musicals</option>
        </select>
      </div>
    </div>

    <!-- SCORE -->
    <div class="row mt-2">
      <label for="score" class="col-sm-2 col-form-label fs-3 text-end">SCORE </label>
      <div class="col-sm-10 py-2">
        <input type="text" class="form-control" name="score" value="{{ movie.score }}"><br>
      </div>
    </div>

    <!-- POSTER_URL -->
    <div class="row">
      <label for="poster_url" class="col-sm-2 col-form-label fs-3 text-end">POSTER_URL </label>
      <div class="col-sm-10 py-2">
        <input type="text" class="form-control" name="poster_url" value="{{ movie.poster_url }}"><br>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row">
      <label for="description" class="col-sm-2 col-form-label fs-3 text-end">DESCRIPTION </label>
      <div class="col-sm-10 py-2">
        <textarea class="form-control" rows="5" name="description">{{ movie.description }}</textarea>
      </div>
    </div>

    <!-- SUBMIT -->
    <div class="row mt-3">
      <div class="offset-10 col-2">
        <input type="submit" class="btn btn-primary" value="SUBMIT">
        <input type="reset" class="btn btn-secondary" value="RESET">
      </div>      
    </div>
  </form>

  <hr>

  <a type="button" class="btn btn-dark" href="/movies/">back</a>
{% endblock content %}